aiohttp==3.9.0
binance==0.3
python_binance==1.0.17
cachetools==5.0.0
candlestick==0.0.8
Flask==2.3.2
newsapi==0.1.1
nsepy==0.8
pandas==1.0.5
pandas_ta==0.3.14b
plotly==5.3.1
python_dateutil==2.8.2
TA_Lib
transformers==4.30.0
yahoofinancials==1.14
yfinance
gradio
requests==2.31.0
tensorflow
scikit-learn
lightgbm
stable-baselines3

