{% extends "header.html" %}
{% block content %}
<br><br><br><br>
<div class="container">
    <h2 class="h2">About</h2>
    <hr class="hr">
    <h3 class="h3">About Webapp</h3>
    <p class="p">It will scan all the data of the stocks included in NIFTY50 index which tracks the top 50
        companies of India categorized on the basis of their market capitalization.</p>
    <p class="p">The technical scanner will scan for the dataset and then provide the stocks with the selected
        candlestick pattern found in the dataset and generate their candlestick chart using the same dataset.</p>
    <hr class="hr">
    <h3 class="h3">Tech Stack</h3>
    <p class="p">
    <ul>
        <li>Core functionality of the webapp using <u>Python</u> & <u>Flask Framework</u></li>
        <li>Design & Interface using:
            <ul>
                <u>
                    <li>HTML</li>
                    <li>CSS [Bootstrap Framework]</li>
                    <li>JavaScript</li>
                </u>
            </ul>
        </li>
    </ul>
    </p>
    <hr class="hr">
</div>
{% endblock %}