{% extends "header.html" %}
{% block content %}
<br>
<div class="cards">
    <h3 style="text-align: start;">Bullish Patterns</h3>
    <!-- 6 Bullish Patterns -->
    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#hammer.png') }}" alt="hammer" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Hammer<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The hammer candlestick pattern is formed of a short body with a long lower wick, and is found at the
                bottom of a downward trend. It is a bullish pattern.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/h/hammer.asp" target="_blank" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#inverted_hammer.png') }}"
                alt="inverted hammer" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Inverted Hammer<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                A similarly bullish pattern is the inverted hammer. The only difference being that the upper wick is
                long, while the lower wick is short.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/h/hammer.asp" target="_blank" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#bullish_engulfing.png') }}"
                alt="bullish engulfing" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Bullish Engulfing<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The bullish engulfing pattern is formed of two candlesticks. The first candle is a short red body that
                is completely engulfed by a larger green candle.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/b/bullishengulfingpattern.asp" target="_blank"
                        class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#piercing_lines.png') }}"
                alt="piercing lines" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Piercing Line Pattern<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The piercing line is also a two-stick pattern, made up of a long red candle, followed by a long green
                candle.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/piercing-pattern.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#morning_star.png') }}"
                alt="morning star" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Morning Star<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The morning star candlestick pattern is considered a sign of hope in a bleak market downtrend. It is a
                three-stick pattern: one short-bodied candle between a long red and a long green. Traditionally, the
                ‘star’ will have no overlap with the longer bodies, as the market gaps both on open and close.
                It signals that the selling pressure of the first day is subsiding, and a bull market is on the horizon.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/m/morningstar.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#three_white_soldiers.png') }}"
                alt="three white soldiers" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Three White Soldiers<small>Bullish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The three white soldiers pattern occurs over three days. It consists of consecutive long green (or
                white) candles with small wicks, which open and close progressively higher than the previous day.
                It is a very strong bullish signal that occurs after a downtrend, and shows a steady advance of buying
                pressure.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/t/three_white_soldiers.asp" target="_blank"
                        class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cards">
    <h3 style="text-align: start;">Bearish Patterns</h3>
    <!-- 6 Bearish Patterns -->
    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#hanging_man.png') }}"
                alt="hanging man" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Hanging Man<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The hanging man is the bearish equivalent of a hammer; it has the same shape but forms at the end of an
                uptrend.
                It indicates that there was a significant sell-off during the day, but that buyers were able to push the
                price up again. The large sell-off is often seen as an indication that the bulls are losing control of
                the market.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/h/hangingman.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#shooting_star.png') }}"
                alt="shooting star" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Shooting Star<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The shooting star is the same shape as the inverted hammer, but is formed in an uptrend: it has a small
                lower body, and a long upper wick.
                Usually, the market will gap slightly higher on opening and rally to an intra-day high before closing at
                a price just above the open – like a star falling to the ground.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/s/shootingstar.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#bearish_engulfing.png') }}"
                alt="bearish engulfing" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Bearish Engulfing<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                A bearish engulfing pattern occurs at the end of an uptrend. The first candle has a small green body
                that is engulfed by a subsequent long red candle.
                It signifies a peak or slowdown of price movement, and is a sign of an impending market downturn. The
                lower the second candle goes, the more significant the trend is likely to be.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/b/bearishengulfingp.asp" target="_blank"
                        class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#evening_star.png') }}"
                alt="evening star" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Evening Star<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The evening star is a three-candlestick pattern that is the equivalent of the bullish morning star. It
                is formed of a short candle sandwiched between a long green candle and a large red candlestick.
                It indicates the reversal of an uptrend, and is particularly strong when the third candlestick erases
                the gains of the first candle.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/e/eveningstar.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#three_black_crows.png') }}"
                alt="three black crows" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Three Black Crows<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The three black crows candlestick pattern comprises of three consecutive long red candles with short or
                non-existent wicks. Each session opens at a similar price to the previous day, but selling pressures
                push the price lower and lower with each close.
                Traders interpret this pattern as the start of a bearish downtrend, as the sellers have overtaken the
                buyers during three successive trading days.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/t/three_black_crows.asp" target="_blank"
                        class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="{{ url_for('static', filename='patterns/#dark_cloud_cover.png') }}"
                alt="dark cloud cover" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>Dark cloud cover<small>Bearish Pattern</small></h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                The dark cloud cover candlestick pattern indicates a bearish reversal – a black cloud over the previous
                day’s optimism. It comprises two candlesticks: a red candlestick which opens above the previous green
                body, and closes below its midpoint.
                It signals that the bears have taken over the session, pushing the price sharply lower. If the wicks of
                the candles are short it suggests that the downtrend was extremely decisive.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="https://www.investopedia.com/terms/d/darkcloud.asp" target="_blank" class="btn">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}