aiohttp
binance
cachetools
candlestick
Flask
newsapi
NewsSentiment
nsepy
pandas
pandas_ta
plotly
python_dateutil
requests
#TA_Lib==0.4.24
transformers
yahoofinancials
yfinance
gradio
#tensorflow==2.10.1
scikit-learn
lightgbm
#stable-baselines3
Flask-RESTful
flask-cors
python-binance
#tensorflow-intel

