beautifulsoup4==4.11.2
binance==0.3
candlestick==0.0.8
candlestick_patterns_subodh101==1.1.0
kaleido==0.1.0.post1
pandas==1.5.3
pandas_ta==0.3.14b0
plotly==5.13.0
python_binance==1.0.17
pytest==7.2.1
